.why_us_container {
  padding: 40px 135px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 35px;
}
.why_us_image,
.why_us_list {
  width: calc((100% / 2)-35px);
}

.why_us_image img {
  object-fit: cover;
  border-radius: 25px;
  max-width: 600px;
  max-height: 670px;
}

.why_us_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.why_us_comp_container {
  display: flex;
}
.why_us_comp_container img {
  width: 100px;
  height: 100px;
  margin-left: 16px;
}
@media (max-width: 1170px) {
  .why_us_image img {
    max-width: 550px;
    max-height: 470px;
  }
  .why_us_comp_container img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-left: 16px;
  }
}
@media (max-width: 1090px) {
  .why_us_container {
    padding: 40px 35px 60px;
  }

  .why_us_image,
  .why_us_list {
    width: 100%;
  }
  .why_us_image img {
    object-fit: cover;
    max-width: 400px;
    max-height: 470px;
  }
  .why_us_comp_container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .why_us_comp_details p {
    font-size: 14px;
  }
}

@media (max-width: 740px) {
  .why_us_container {
    flex-direction: column;
  }
  .why_us_image,
  .why_us_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .why_us_image img {
    object-fit: cover;
    max-width: 300px;
    max-height: 370px;
  }
}
@media (max-width: 350px) {
  .why_us_image img {
    object-fit: cover;
    max-width: 240px;
    max-height: 260px;
  }
}
