.footer_container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.custom-shape-divider-top-1673875243 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(-0deg);
}

.custom-shape-divider-top-1673875243 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1673875243 .shape-fill {
  fill: var(--background);
}
.footer_details {
  width: 100%;
  background-color: var(--background);
  position: absolute;
  top: 90px;
  padding: 12px 135px;
}
.footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}
.copyright {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.footer_content div:nth-child(1) {
  width: calc(100% / 1.5);
}
.footer_content div:nth-child(1) p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: var(--text_color2);
}
.footer_content div:nth-child(2) h2 {
  font-style: normal;
  color: var(--text_color1);
}
.footer_content div:nth-child(2) a {
  display: block;
  text-align: center            ;
  margin-top: 32px;
  padding: 4px 16px;
  border-radius: 25px;
  border: none;
  background-color: var(--main);
  color: var(--text_color3);
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  cursor: pointer;
}

@media (max-width: 1090px) {
  .footer_container {
    padding: 0px 35px 90px;
    margin: 0 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-shape-divider-top-1673875243 {
    display: none;
  }
  .footer_details {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .footer_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .footer_container {
    padding: 0;
    margin: 0;
  }
  .footer_details {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 12px;
  }
  .footer_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
