.banner_container {
  padding: 40px 135px;
}
.banner_background_mobile {
  width: 100%;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--main);
}
.nav_details {
  width: calc(100% / 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.nav_image {
  width: calc(100% / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_image img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}
.nav_details h1 {
  color: var(--text_color1);
}
.nav_details h1 span {
  color: #8fc930;
}
.nav_details p {
  font-weight: 300;
  font-size: 30px;
  color: var(--text_color4);
}
.nav_details button {
  border-radius: 25px;
  padding: 8px 16px;
  border: none;
  background-color: var(--main);
  color: var(--text_color3);
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1090px) {
  .banner_container {
    padding: 40px 35px;
  }
}

@media (max-width: 1000px) {
  .nav_details p {
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .banner_container {
    padding: 40px 20px;
  }
  .nav_image {
    display: none;
  }
  .nav_details {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nav_details p {
    text-align: center;
  }
}
