.banner_container {
  padding: 40px 135px;
}

.banner_background {
  width: 100%;
  position: relative;
}
.banner_background img:nth-child(1) {
  width: 100%;
  height: 75vh;
  object-fit: fill;
  border-radius: 25px;
  border: 1px solid purple;
}
.banner_background img:nth-child(2) {
  border: 1px solid yellow;

  width: 50%;
  height: 75vh;
  object-fit: cover;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.banner_background img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid red;
}
.nav_details {
  border: 1px solid red;
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.nav_details h1 {
  color: var(--text_color1);
}
.nav_details h1 span {
  color: #8fc930;
}
.nav_details p {
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
  color: var(--text_color4);
  max-width: 55%;
}

.nav_details button {
  border-radius: 25px;
  padding: 8px 16px;
  border: none;
  background-color: var(--main);
  color: var(--text_color3);
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .banner_container {
    padding: 40px 35px;
  }

  .banner_background {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
  }
  .banner_background img:nth-child(2) {
  }
  .banner_background img:nth-child(1) {

    
  }
}
